.Rproj.user
.Rhistory
.RData
*.log
lndbor.geojson
*.synctex.gz
*.toc
*.aux
*.out
*.html
*.backup
pres*
!pres*R*
intro-spatial.tex
intro-spatial.pdf
ggmapTemp.png
*Girona*
exclude/
*~
intro-spatial_files/
spatial-data_files/
*.docx
shef*
*.dcf
*shinyapp*
intro-spatial.R
test.Rmd
