.Rproj.user
.Rhistory
.RData
*.log
lndbor.geojson
*.synctex.gz
*.toc
*.aux
*.out
*.html
*.backup
pres*
!pres*R*
intro-spatial.tex
intro-spatial.pdf
ggmapTemp.png
*Girona*
exclude/
*~
intro-spatial_files/
spatial-data_files/
*.docx
shef*
*.dcf
*shinyapp*
test.Rmd
test.geojson
lines.geojson
AFG_adm1.RData
FRA_adm1.RData
arast.*
bikeWY.geojson
knitr_figure
myfile*
geostat-2015
vspd-data
vignettes/*.csv
vignettes/GBR*
vignettes/*.json
vignettes/*.pdf
vignettes/vspd*/boot*
vignettes/vspd*/figure-h*
vignettes/vspd*/Proj*
vignettes/vspd*/h*
vignettes/vspd*/leaf*
vignettes/vspd*/jq*
vignettes/vspd*/nav*
*.zip
*.doc
*.xls
road*
vspd-base-shiny-data
vspd-base-shiny-data-master
Creating-maps-in-R-master
README.pdf
README.tex
slides/lib*
